* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}
.dark-theme {
  --primary-color: #212121;
  --secondary-color: #edf2fc;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
  user-select: none;
}

header {
  margin: 10px 20px;
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center; /* centro vertical */
}

nav a {
  display: inline-block;
  margin: 10px 20px;
  text-decoration: none;
  color: var(--secondary-color);
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #b83a3a;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

nav a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

a img {
  width: 20px;
}

#icon {
  color: var(--secondary-color);
  cursor: pointer;
}

article {
  margin-left: 8%;
  margin-top: 15%;
}

article h1 {
  font-size: 70px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

span {
  color: #a22c29;
}

article p {
  color: #606163;
  line-height: 22px;
}

article button {
  background: var(--secondary-color);
  padding: 10px 18px;
  border: none;
  color: var(--primary-color);
  display: inline-block;
  margin: 30px 0;
  border-radius: 6px;
  cursor: pointer;
}

.img-box {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 80px;
  right: 100px;
}

.img-box img {
  height: 80%;
  position: absolute;
  left: 70%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.img-box .main-img {
  z-index: 2;
}
.img-box:hover .main-img {
  left: 65%;
}
.img-box:hover .back-img {
  bottom: 20px;
}
footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.social-links {
  margin-left: 8%;
}
footer i {
  color: var(--secondary-color);
  font-size: 20px;
  margin-right: 20px;
  transition: all 0.5s;
}

footer i:hover {
  color: #a22c29;
  cursor: pointer;
}