:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: #686ff5;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #dddddd;
  border-radius: 6px;
  padding: 0 10px;
  width: 30vw;
}

.input-wrapper input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  font-size: 1.2em;
  padding: 10px 0;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #1a1a1a;
}

input {
  width: 30vw;
  background-color: #afafaf;
  padding: 10px 14px;
  font-size: 1.2em;
  border: none;
  outline: none;
  border-radius: 6px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:active {
color: rgba(0, 0, 0, 0.733);
}
