body{
    background: url(pexels-apasaric-2068411.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    height: 500px;
    width: 500px;
    border-radius: 5px;
}

