@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(214, 214, 214);
}

.container {
  width: 60%;
  min-width: 550px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px 0;
  padding-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.205);
}

.timer-display {
  color: crimson;
  font-size: 58px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px #f8a5c2;
}

.buttons {
  width: 90%;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  font-size: 18px;
  font-weight: bold;
  color: rgb(214, 214, 214);
  background-color: crimson;
  width: 20%;
  border: none;
  border-radius: 18px;
  padding: 12px 0;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
  background-color: rgb(175, 18, 49);
}
