* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #2945c4, #95c0ff);
  color: aliceblue;
  padding: 10px;
}

.calculator {
  width: 100%;
  max-width: 600px;
  margin-left: 10%;
  margin-top: 10%;
}

h1 {
  font-size: 60px;
}

.age {
  display: block;
  margin-top: 12px; /* Space between lines */
  color: #ffff76; /* Similar yellow tone */
}

.container h1 img {
  width: 60px;
}

.input-box {
  margin: 40px 0;
  padding: 36px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}

.input-box input {
  flex: 1;
  margin-right: 20px;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 8px;
  position: relative;
}

.input-box input::-webkit-calendar-picker-indicator{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100% - 10PX);
  background-size: 30PX;
  cursor: pointer;
}

.input-box button {
  background: #ffff76;
  border: 0;
  outline: 0;
  padding: 15px 30px;
  border-radius: 8px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: 0.2s;
}

.input-box button:hover {
  background: #fdfd46;
}
