@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #083d5c; /* your blue background */
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10em;
  margin-left: 6em;
}

h1 {
  font-weight: 500;
  color: #fff;
}

h1 span {
  margin: 20px 0;
  text-decoration: underline;
}

input {
  width: 30%;
  background-color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

button {
  width: 15%;
  padding: 8px;
}
