body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    background: linear-gradient(to right, rgb(101, 181, 255), rgb(253, 230, 97));
    background-clip: text;
    color: transparent;
    width: 50vw;
    height: 50vh;
    text-align: center;
    font-size: 8em;
    line-height: 50vh; /* vertically center if one line */
}