* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 21, 61);
}

.container {
  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center; /* centro vertical */
  height: 100vh; /* ocupa 100% da altura da tela */
}
/* Wrapper around the input & image */
.input-box {
  position: relative;
  width: 20%;  /* matches your input width */
}

.input-box input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 6px;
  outline: none;
}

.input-box img {
  position: absolute;
  right: 10px;               /* position at the right inside */
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
}