@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(102, 20, 20), 
    rgb(173, 37, 37));
}

.container{
  width: 40%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px 20px;
}

#newTask{
  background-color: aliceblue;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.37);
}

#newTask input {
  width: 70%;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border: 2px solid rgb(202, 202, 202);
  padding: 12px;
  color: black;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}

#newTask input:focus{
  outline: none;
  border-color: rgb(146, 29, 29);
}

#newTask button{
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #921d1d;
  border: none;
  cursor: pointer;
}

#tasks{
  background-color: aliceblue;
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .3);
  width: 100%;
  position: relative;
}

.task{
  background-color: aliceblue;
  height: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(202, 202, 202);
  cursor: pointer;
}

.task span{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.task button{
  background-color: #921d1d;
  color: aliceblue;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.completed{
  text-decoration: line-through;
}