body{
    background-color: #e2e2e2 ;
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    height: 100vh;             /* full viewport height */
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 18rem;
  overflow: auto;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
}

#card1:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white;
    transition: 1s;
    cursor: pointer;
     transform: scale(1.1);
}

#card2:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
    transition: 1s;
    cursor: pointer;
}


.text-wrapper {
  position: relative;
  display: inline-block;
}

.sup {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.6em;
  padding: 2px 5px;
  border-radius: 5px;
}