@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", sans-serif;
  box-sizing: border-box;
}

:root{
  --color:rgb(23, 124, 229);
}

body {
  background-color: #bbc6fa;
}

.container {
  background-color: #fff;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

.container h2 {
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}

.container h2::after {
  content: "";
  width: 76px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.container blockquote {
  font-size: 26px;
  min-height: 26px;
  min-height: 110px;
}

.container blockquote::before,
.container blockquote::after {
  content: '"';
}

.container span {
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}
.container span::before{
  content: '';
  width: 20px;
  height: 2px;
  background-color: var(--color);
  position: absolute;
  top: 50%;
  left: -30px;
}

.container div{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.container button{
  background-color: var(--color);
  color: #fff;
  border-radius: 24px;
  border: 1px solid var(--color);
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  cursor: pointer;
  transition: .3s;
}

.container button:hover{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
  background-color: rgb(19, 93, 184);
}

.container button img{
  width: 20px;
  margin-right: 10px;
}
.container button:nth-child(2){
  background-color: transparent;
  color: #333;
}