@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background: rgb(63, 63, 63);
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: none;
  color: rgb(199, 199, 199);
  border: 2px solid;
  font-size: 1.5em;
  font-weight: 300;
  width: 200px;
  padding: 10px;
  margin: 0 8px;
  transition: 0.3s;
}

button.success {
  --c: #61ce53;
}
button.error {
  --c: #ff5555;
}
button.invalid {
  --c: #fdb03d;
}

button.success:hover,
button.error:hover,
button.invalid:hover {
  border-color: var(--c);
  color: white;
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px -5px var(--c);
}

#toastBox {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.toast {
  width: 400px;
  height: 80px;
  background: #fff;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;transform: translateX(100%);
  animation: moveleft .5s linear forwards;
}

@keyframes moveleft{
  100%{
    transform: translateX(0%);
  }
}

/* set toast color variables */
.toast.invalid { --c: #fdb03d; }
.toast.error   { --c: #ff5555; }

/* icon uses the variable */
.toast i {
  background-color: transparent;
  margin: 0 20px;
  font-size: 36px;
/* the green automatically goes for the success icon*/
  color: var(--c, #61ce53);
}

.toast::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-color: #61ce53;
  animation: anim 5s linear forwards;
}

.toast.invalid::after{
  background-color: #fdb03d;
}

.toast.error::after{
  background-color: #ff5555;
}


@keyframes anim {
  100%{
    width: 0;
  }
}