@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "", sans-serif;
  box-sizing: border-box;
}

:root {
  --color: rgb(23, 124, 229);
}

body {
  background-color: #444444;
}

.container {
  background-color: #fff;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

h2 {
  font-size: 16px;
  text-align: left;
  margin-bottom: 18px;
}

input {
  padding: 15px 10px;
  border: 1px solid rgba(0, 39, 83, 0.548);
  border-radius: 8px;
  outline: none;
  width: 100%;
  margin-bottom: 34px;
}

button {
  background-color: #4c59f6;
  color: aliceblue;
  font-weight: 600;
  width: 100%;
  padding: 15px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all .4s;
}

button:hover {
  background-color: #3c48c5;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.233);
}
