@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --dark-blue: #001e4d;
}

body {
  background: var(--dark-blue);
}

.app {
  width: 90%;
  max-width: 600px;
  background: #fff;
  padding: 30px;
  margin: 100px auto;
  border-radius: 10px;
}

.app h1 {
  font-size: 25px;
  color: var(--dark-blue);
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: var(--dark-blue);
  font-weight: 600;
}

.btn {
  background-color: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border-bottom: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s;
}

.btn:hover{
  background: #222;
  color: #fff;
}

#next-btn{
  background: var(--dark-blue);
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

